on: [push]
jobs:
  macos-latest-default-debug:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          shell: bash
          path: ${HOME}/.local/bin
          cpath: ${HOME}/.local/include:/opt/homebrew/include:${CPATH}
          library_path: ${HOME}/.local/lib:/opt/homebrew/lib/:${LIBRARY_PATH}
      - run: ./setup.sh
      - name: Configure Debug Xcode
        run: ./configure
      - name: Xcode Built Test Install
        uses: ./.github/actions/xcode_build_test_install
        with:
          shell: bash
          working-directory: output
  macos-latest-gmake-debug:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          shell: bash
          path: ${HOME}/.local/bin
          cpath: ${HOME}/.local/include:/opt/homebrew/include:${CPATH}
          library_path: ${HOME}/.local/lib:/opt/homebrew/lib/:${LIBRARY_PATH}
      - run: ./setup.sh
      - name: Configure Debug Gmake
        run: ./configure --gmake --output gmake
      - name: Gmake Built Test Install
        uses: ./.github/actions/gmake_build_test_install
        with:
          shell: bash
          working-directory: gmake
  macos-latest-ninja-debug:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          shell: bash
          path: ${HOME}/.local/bin
          cpath: ${HOME}/.local/include:/opt/homebrew/include:${CPATH}
          library_path: ${HOME}/.local/lib:/opt/homebrew/lib/:${LIBRARY_PATH}
      - run: ./setup.sh
      - name: Configure Debug Ninja
        run: ./configure --ninja --output ninja
      - name: Ninja Build Test Install
        uses: ./.github/actions/ninja_build_test_install
        with:
          shell: bash
          working-directory: ninja
  macos-latest-gmake-release:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          shell: bash
          path: ${HOME}/.local/bin
          cpath: ${HOME}/.local/include:/opt/homebrew/include:${CPATH}
          library_path: ${HOME}/.local/lib:/opt/homebrew/lib/:${LIBRARY_PATH}
      - run: ./setup.sh
      - name: Configure Gmake Release
        run: ./configure --gmake --release --output gmake_release
      - name: Gmake Built Test Install
        uses: ./.github/actions/gmake_build_test_install
        with:
          shell: bash
          working-directory: gmake_release
      - name: Make Achive
        working-directory: gmake_release
        run: tar -czvf ../viponTools.tar.gz viponTools
      - uses: actions/upload-artifact@v4
        with:
          name: viponTools_macos
          path: viponTools.tar.gz
  ubuntu-2404-gmake-debug:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          shell: bash
          path: ${HOME}/.local/bin
          cpath: ${HOME}/.local/include:${CPATH}
          library_path: ${HOME}/.local/lib:${LIBRARY_PATH}
      - run: ./setup.sh
      - name: Configure Debug Gmake
        run: ./configure --gmake --output gmake
      - name: Gmake Built Test Install
        uses: ./.github/actions/gmake_build_test_install
        with:
          shell: bash
          working-directory: gmake
  ubuntu-2404-ninja-debug:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          shell: bash
          path: ${HOME}/.local/bin
          cpath: ${HOME}/.local/include:${CPATH}
          library_path: ${HOME}/.local/lib:${LIBRARY_PATH}
      - run: ./setup.sh
      - name: Configure Debug Ninja
        run: ./configure --ninja --output ninja
      - name: Ninja Build Test Install
        uses: ./.github/actions/ninja_build_test_install
        with:
          shell: bash
          working-directory: ninja
  ubuntu-2404-gmake-release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          shell: bash
          path: ${HOME}/.local/bin
          cpath: ${HOME}/.local/include:${CPATH}
          library_path: ${HOME}/.local/lib:${LIBRARY_PATH}
      - run: ./setup.sh
      - name: Configure Gmake Release
        run: ./configure --gmake --release --output gmake_release
      - name: Gmake Build Test Install
        uses: ./.github/actions/gmake_build_test_install
        with:
          shell: bash
          working-directory: gmake_release
      - name: Make Achive
        working-directory: gmake_release
        run: tar -czvf ../viponTools.tar.gz viponTools
      - uses: actions/upload-artifact@v4
        with:
          name: viponTools_Ubuntu
          path: viponTools.tar.gz
  ubuntu-2404-32-gmake-release:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          shell: bash
          path: ${HOME}/.local/bin
          cpath: ${HOME}/.local/include:${CPATH}
          library_path: ${HOME}/.local/lib:${LIBRARY_PATH}
      - run: ./setup.sh
      - name: Set up 32-bits build env
        run: |
          sudo dpkg --add-architecture i386
          sudo apt update
          sudo apt install build-essential gcc-multilib g++-multilib
      - name: Configure Gmake Release
        run: ./configure --gmake --release --target-platform=i386-linux-gnu --output i386_release
      - name: Gmake Build Test Install
        uses: ./.github/actions/gmake_build_test_install
        with:
          shell: bash
          working-directory: i386_release
      - name: Make Achive
        working-directory: i386_release
        run: tar -czvf ../viponTools.tar.gz viponTools
      - uses: actions/upload-artifact@v4
        with:
          name: viponTools_Ubuntu_i386
          path: viponTools.tar.gz
  windows-ninja-debug-static:
    runs-on: windows-2025-vs2026
    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          path: C:\bin\;C:\bin\ccache\
      - run: .\setup.bat
      - name: Configure MSVC Debug
        run: python .\configure --ninja --static
      - name: Ninja Build Test Install
        uses: ./.github/actions/ninja_build_test_install
        with:
          shell: cmd
          working-directory: output
  windows-msvc-debug-static:
    runs-on: windows-2025-vs2026
    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          path: C:\bin\ccache\
      - run: .\setup.bat
      - name: Configure MSVC Debug
        run: python .\configure --vs --static
      - name: MSVC Build
        working-directory: output
        run: cmake --build . --config Debug
      - name: MSVC Test
        working-directory: output
        run: ctest -C Debug
      - name: MSVC Install
        working-directory: output
        run: cmake --install . --config Debug
  windows-msvc-release-shared:
    runs-on: windows-2025-vs2026
    steps:
      - name: Prepare git
        run: git config --global core.autocrlf false
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set Env Variables
        uses: ./.github/actions/set_env_var
        with:
          path: C:\bin\ccache\
      - run: |
          .\setup.bat
      - name: Configure MSVC Release
        run: python .\configure --vs --release
      - name: MSVC Build
        working-directory: output
        run: cmake --build . --config Release
      - name: MSVC Test
        working-directory: output
        run: ctest -C Release
      - name: MSVC Install
        working-directory: output
        run: cmake --install . --config Release
      - name: Make Achive
        working-directory: output
        run: tar -czvf ../viponTools.tar.gz viponTools
      - uses: actions/upload-artifact@v4
        with:
          name: viponTools_windows
          path: viponTools.tar.gz

